@import url('https://fonts.googleapis.com/css?family=Muli:300,400,500,700|Raleway:300,400,500,600&display=swap');

*{
  box-sizing: border-box;
}

h1, h2{
  font-family: 'Muli';
}

h3, h4, h5, h6, p, textarea{
  font-family: 'Raleway';
  font-weight: 500;
}

body{
  margin: 0;
  padding: 0;
  width: 100vw;
}

/*

 - Style some CSS for the thingy

*/
