@import url("https://fonts.googleapis.com/css?family=Muli:300,400,500,700|Raleway:300,400,500,600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1, h2 {
  font-family: 'Muli';
  margin: 0;
  padding: 0; }

h3, h4, h5, h6, p, textarea {
  font-family: 'Raleway';
  font-weight: 500;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0; }

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  opacity: 1;
  -webkit-transition: 0.6s cubic-bezier(0.63, 0, 0.73, 1);
  transition: 0.6s cubic-bezier(0.63, 0, 0.73, 1);
  background: white; }

.sidebar > .top_bar {
  background: #691e45;
  width: 100%;
  padding: 6vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.sidebar > .top_bar > h1, .container > .top_bar > h1 {
  font-size: 5vw;
  margin: 0;
  color: white;
  font-weight: 500;
  padding: 0; }

.sidebar > .top_bar > img {
  --size: 7vw;
  width: var(--size);
  height: var(--size); }

.sidebar > .options {
  padding: 4vw; }

.sidebar > .options > h1 {
  font-size: 4vw;
  color: #888;
  line-height: 2em;
  letter-spacing: .04em;
  text-align: center;
  margin: 0;
  font-weight: 500;
  padding: 0; }

.container {
  width: 100vw;
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0; }

.container > .top_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6vw;
  background: #256C8B;
  width: 100%; }

.container > .top_bar > img {
  --size: 7vw;
  width: var(--size);
  height: var(--size); }

.container > .message_space {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  padding: 3vw; }

.container > .message_space > .beginning {
  color: #8c8c8c;
  font-family: 'Muli';
  font-size: 3vw;
  line-height: 2em;
  text-align: center;
  margin-bottom: 5vw; }

.container > .message_space > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 3vw;
  padding-right: 3vw;
  margin-top: 8vw; }

.container > .message_space > div > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.container > .message_space > div:first-of-type {
  margin-top: 0; }

.container > .message_space > div > .you {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.container > .message_space > div:not(.you) {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.container > .message_space > div > span > h3 {
  font-size: 4vw;
  font-family: 'Raleway'; }

.container > .message_space > div > span > h5:first-of-type {
  margin-right: 1vw;
  margin-left: 1vw;
  color: #ababab;
  font-family: 'Muli';
  font-weight: 300;
  font-size: 3vw; }

.container > .message_space > div > span > h5:last-of-type {
  font-size: 3vw;
  font-weight: 700;
  font-family: 'Muli';
  color: #ababab; }

.container > .message_space > .you > span > h3 {
  color: #256C8B;
  text-align: right; }

.container > .message_space > div:not(.you) > span > h3 {
  color: #8b2525; }

.container > .message_space > div > p {
  font-size: 3.25vw;
  margin-top: 2vw;
  line-height: 1.5em;
  font-family: 'Muli';
  max-width: 100%;
  word-wrap: break-word; }

.container > .message_space > .you > p {
  text-align: right; }

.container > .message_space > div:not(.you) > p {
  text-align: left; }

.container > .type_area {
  margin: 0;
  width: 100%;
  padding: 6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #256C8B; }

.container > .type_area > input {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  font-family: 'Raleway';
  border: 0;
  font-size: 4vw;
  color: white;
  outline: none;
  padding: 4vw; }

.container > .type_area > input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7); }

.container > .type_area > input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7); }

.container > .type_area > input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7); }

.container > .type_area > input::placeholder {
  color: rgba(255, 255, 255, 0.7); }

.container > .type_area > button {
  width: 25vw;
  border-radius: 1vw;
  font-size: 4vw;
  color: white;
  background: #39af41;
  border: 0px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 4vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  outline: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4vw; }

.container > .type_area > button > p {
  margin: 0;
  padding: 0;
  letter-spacing: .125vw;
  font-family: 'Muli'; }

@media only screen and (min-width: 768px) {
  .sidebar {
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%; }

  .sidebar > .top_bar > img {
    width: 4vw;
    height: 4vw; }

  .sidebar > .top_bar {
    padding: 3vw; }

  .sidebar > .top_bar > h1 {
    font-size: 3vw; }

  .sidebar > .options > h1 {
    font-size: 2.5vw;
    text-align: center; }

  .container {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%; }

  .container > .top_bar > img {
    --size: 4vw;
    width: var(--size);
    height: var(--size); }

  .container > .top_bar, .container > .type_area {
    padding: 3vw; }

  .container > .top_bar > h1 {
    font-size: 3vw; }

  .container > .message_space > .beginning {
    font-size: 2.5vw; }

  .container > .message_space > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 12vw;
    padding-right: 12vw;
    margin-top: 4vw; }

  .container > .message_space > div > span > h3 {
    font-size: 3vw;
    font-family: 'Raleway'; }

  .container > .message_space > div > span > h5:first-of-type {
    font-size: 2.5vw; }

  .container > .message_space > div > span > h5:last-of-type {
    font-size: 2.5vw; }

  .container > .message_space > div > p {
    font-size: 2.5vw;
    margin-top: 2.5vw;
    line-height: 1.5em;
    font-family: 'Muli';
    max-width: 100%;
    word-wrap: break-word; }

  .container > .type_area > input {
    font-size: 2.5vw;
    padding: 3vw; }

  .container > .type_area > .send_btn {
    padding: 3vw;
    font-size: 2.5vw; } }
@media only screen and (min-width: 1025px) {
  body {
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: auto; }

  .sidebar {
    opacity: 1;
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%; }

  .sidebar > .top_bar > img, .sidebar > .top_bar > .null {
    display: none; }

  .sidebar > .top_bar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .sidebar > .top_bar {
    padding: 1.5vw; }

  .sidebar > .top_bar > h1 {
    font-size: 1vw; }

  .sidebar > .options > h1 {
    font-size: 1.125vw;
    text-align: center; }

  .container {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    border-left: 2px solid #256C8B; }

  .container > .top_bar > img {
    --size: 1vw;
    width: var(--size);
    height: var(--size); }

  .container > .top_bar, .container > .type_area {
    padding: 1.5vw; }

  .container > .top_bar > h1 {
    font-size: 1vw; }

  .container > .top_bar > img:nth-child(1) {
    display: none; }

  .container > .message_space > .beginning {
    margin: 0;
    padding: 0;
    font-size: .75vw;
    margin-bottom: 1vw; }

  .container > .message_space {
    padding: 1vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .container > .message_space > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 1vw;
    padding-right: 0vw;
    margin-top: 2vw; }

  .container > .message_space > div > span {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }

  .container > .message_space > div > span > h3 {
    font-size: 1vw;
    text-align: left; }

  .container > .message_space > div > p {
    font-size: .75vw;
    margin-top: .5vw;
    line-height: 1.5em;
    max-width: 100%;
    word-wrap: break-word; }

  .container > .message_space > div > span > h5:first-of-type {
    font-size: 1vw;
    margin-left: .5vw;
    margin-right: .5vw; }

  .container > .message_space > div > span > h5:last-of-type {
    font-size: .75vw; }

  .container > .message_space > div > div {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content; }

  .container > .message_space > div > .you {
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left; }

  .container > .message_space > .you > span > h3 {
    color: #256C8B;
    text-align: left; }

  .container > .message_space > .you > p {
    text-align: left; }

  .container > .message_space > .type_area {
    padding: 1vw; }

  .container > .type_area > input {
    font-size: .8vw;
    padding: 1vw; }

  .container > .type_area > .send_btn {
    padding: 1vw;
    margin-left: 2vw;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border-radius: 5px;
    font-size: 1vw; } }
